.roleSettingWrap {
  padding: 10px 0 24px 0;
  p {
    margin: 0 0 0 15px;
  }

  th, td {
    border-color: #bbb !important;
  }

  .wolfHint {
    border-color: #2c3aba !important;
    border-width: 2px;
    // border-left: solid #2c3aba;
  }
}
