.villagerWrap {

  .wolfHint{
    border-color: #ff9626 !important;
    border-width: 3px !important;
  }

  .card {
    padding-left: 10%;
    padding-bottom: 5%;
    background: transparent;
    border-width: 2px;

    .card-top {
      display: flex;
      align-items: flex-end;
    }
    .vote {
      margin: 5px 0 5px 5px;
      padding: 0 5px 0 5px;
      border: solid #2626a6;
      color: #2626a6;
      border-width: 2px;
      border-radius: 3px;
      cursor: pointer;

      &:active {
        transform: translate(1px, 1px);
      }
    }

    .check {

      .checkTooltip {
        padding: 0 10px 0 10px;
        top: 10px;
        background-color: #000;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        position: absolute;
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent #000 transparent transparent;
        }
      }
    }

    .night-button {
      margin: 5px 0 5px 5px;
      padding: 0 5px 0 5px;
      border: solid #fff;
      color: #fff;
      border-width: 2px;
      border-radius: 3px;
      cursor: pointer;

      &:active {
        transform: translate(1px, 1px);
      }
    }

    .ready-button {
      margin: 5px 0 5px 5px;
      padding: 0 5px 0 5px;
      border: solid #cc181e;
      color: #cc181e;
      border-width: 2px;
      border-radius: 3px;

    }

    .head {
      margin: 5px 0 5px 0;
      height: 60px;
      width: 60px;
      background-image: url('/head.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .dead {
      margin: 5px 0 5px 0;
      height: 60px;
      width: 60px;
      background-image: url('/blood.png');
      background-position: center;
      background-size: cover;
    }
  }

}
