.chatWrap {
  height: 55vh;
  padding: 0;
  bottom: 0;
  margin-top: 1vh;
  // font-family: 'VT323', monospace;
  img {
    max-width: 400px;
    max-height: 250px;
  }

  .diedMessage {
    span {
      background: #000 !important;
    }
    color: #fff !important;
  }

  .send {
    position: absolute;
  }

  ul {
    margin-bottom: 0;
  }

  #system {
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 100%;
    padding: 0 20px 0 20px;
    font-size: 16px;
    border-right: solid #dadada;
    border-width: 2px;

    p {
      display: block;
      margin: 0 0 0 5px;
      padding: 0;
      font-size: 12px;
      color: #777;
    }

    span {
      display: block;
      float: left;
      width: auto;
      background: #2c3aba;
      color: #fff;
      border-radius: 5px;
      padding: 0 10px 0 10px;
      margin-bottom: 5px;
    }
  }

  #messages {
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 100%;
    padding: 0 20px 0 20px;
    font-size: 16px;

    p {
      display: block;
      margin: 0 0 0 15px;
      padding: 0;
      font-size: 12px;
      color: #777;
    }
    span {
      display: block;
      float: left;
      width: auto;
      // background: #eee;
      border-radius: 5px;
      padding: 0 10px 0 10px;
      margin-bottom: 5px;
      margin-left: 10px;
    }
  }
}

.chatWrap .formWrap {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  border: solid;
  border-width: 2px;
  border-radius: 5px;

  .inputStyle {
    width: 90%;
    background: rgba(255,255,255,0);
    font-size: 24px;
    font-family: 'VT323', monospace;
    border: none;
  }

  .speakerGroup {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;

    i {
      margin: 8px;
      font-size: 20px;
      color: #000;
      position: relative;;
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}
