@keyframes reciprocal {
  from {}
  to {width: 0%;}
}

.villageWrap {
  height: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


.timeBar {
  position: absolute;
  bottom: 0;
}
