.interfaceWrap {
  position: relative;
  border: solid;
  border-width: 2px;
  border-color: #dadada;
  border-radius: 5px;
  height: 40vh;

  .character {
    height: 100%;
    border-right: solid;
    border-width: 2px;
    border-color: #dadada;
  }

  .col-md-9 {
    height: 92%;
    overflow-y: scroll;
  }

  .display {
    display: block;
  }

  .none {
    display: none;
  }

  .btnsWrap {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    right: 2px;
    z-index: 2;

    .myBtn {
      position: relative;
      margin: 0px;
      padding: 0 10px 0 10px;
      z-index: 100;
      width: auto;
      cursor: pointer;
      span::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 0%;
        left: 50%;
        background: #0b9bc5;
        transition: all 0.4s;
      }
      span::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 0%;
        right: 50%;
        background: #0b9bc5;
        transition: all 0.4s;
      }

      &:hover {
        span::after {
          content: '';
          position: absolute;
          height: 2px;
          width: 50%;
          left: 50%;
          background: #0b9bc5;
        }
        span::before {
          content: '';
          position: absolute;
          height: 2px;
          width: 50%;
          right: 50%;
          background: #0b9bc5;
        }
      }
    }
  }
}
