.welcomeWrap {
  background: #020224;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;

  .title {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;

    .formWrap {
      display: flex;
      justify-content: center;
    }

    form {
      position: relative;
      width: 30%;
    }

    h1 {
      margin-bottom: 20px;
      font-family: 'Kranky', cursive;
      font-size: 72px;
    }

    .inputStyle {
      width: 100%;
      border-color: #fff;
      background: rgba(255,255,255,0);
      border-radius: 50px;
      font-family: 'VT323', monospace;
      font-size: 24px;
    }

    button {
      border: none;
      height: 100%;
      position: absolute;
      right: 0;

      i {
        font-size: 20px;
        color: red;
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        // color: #fff;
      }

      &:hover {
        background: transparent;
        border: none;
      }

      &:focus {
        background: transparent;
        border: none;
        outline: 0;
      }
    }
  }
}
