.lobbyWrap {
  height: 100vh;
  padding-top: 2vh;

  #poster {
    height: 30%;
    width: 100%;
    top: 30%;
    left: 0;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
  }

  .posterDisplay {
    display: block;
    z-index: 2;
    opacity: 0;
    animation: fade 8s;
    animation-fill-mode: forwards;
  }

  .none {
    display: none;
    z-index: -1;
  }

  .gameover {
    height: 30%;
    width: 100%;
    top: 30%;
    left: 0;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .leave {
      margin-top: 20px;
      padding: 0 5px 0 5px;
      border: solid #2626a6;
      color: #2626a6;
      border-width: 2px;
      border-radius: 3px;
      cursor: pointer;
      font-size: 20px;

      &:active {
        transform: translate(2px, 2px);
      }
    }
  }
}

.screen {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.day {
  background: #fff;
  color: #000;
  #messages {
    span {
      background: #eee;
    }
  }

  .interfaceWrap, .formWrap, .card, .character {
    border-color: #bbb !important;
  }
}

.night {
  background: #020224;
  color: #fff;

  #messages {
    span {
      background: rgba(0,0,0,0) !important;
    }
  }
  .interfaceWrap, .formWrap, .card, .character {
    border-color: #353550;
  }
  .inputStyle {
    border-color: #353550;
  }
}

@keyframes fade {
  0%   { opacity: 0 }
  10%   { opacity: 0 }
  30%  { opacity: 1 }
  90%  { opacity: 1 }
  100% { opacity: 0 }
}
