@keyframes active {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(2px, 2px);}
    100% {transform: translate(0px, 0px);}
}

.characterWrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .roleCard {
    display: block;
    height: 80%;
    width: 100%;
    i {
      font-size: 20px;
      margin-left: 5px;
    }

    .roleContent{
      margin-left: 10px;
      color: #000 !important;
    }

    .camp {
      display: flex;
      flex-direction: row;
    }

    .wolfIcon {
      margin: 0;
      width: 24px;
      height: 24px;
      background-image: url('/wolf-icon.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .flipperWrap {
      background-image: url('/back.png');
      display: block;
      position: relative;
      perspective: 1000px;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;


      .flipper {
        animation: rotate 1s;
        animation-fill-mode: forwards;
        transform-style: preserve-3d;
        position: relative;
        width: 100%;
        height: 100%;
      }

      .cardFront, .cardBack {
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
      }

      .cardBack {
        z-index: 2;
        transform: rotateY(0deg);
        background-image: url('/back.png');
      }

      .cardFront {
        transform: rotateY(180deg);
        // background-image: url('/prophet.png');
      }
    }

  }

  .villagerCard {
    background-image: url('/villager.png');
  }
  .prophetCard {
    background-image: url('/prophet.png');
  }
  .hunterCard {
    background-image: url('/hunter.png');
  }
  .wolfCard {
    background-image: url('/wolf.png');
  }
  .psychicCard {
    background-image: url('/psychic.png');
  }
  .foxCard {
    background-image: url('/fox.png');
  }
  .wolfSonCard {
    background-image: url('/wolfSon.png');
  }
  .witchCard {
    background-image: url('/witch.png');
  }

  .deadCard {
    filter: grayscale(100%);
  }

  .info {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    .basic {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 30px;
      i {
        font-size: 18px;
      }
      .name {
        margin-left: 5%;
        width: 65%;
      }
    }

    i {
      font-size: 24px;
    }

  }


  .ready {
    margin-left: 10%;
    border: solid #000 2px;
    border-radius: 5px;
    font-weight: 2px;
    color: #000;
    transition: all 0.2s;
    cursor: pointer;
    padding: 0px 10px 0px 10px;

    &:active {
      border-color: #cc181e;
      color: #cc181e;
      transform: translate(2px, 2px);
    }
  }

  .active {
    border-color: #cc181e;
    color: #cc181e;
  }

  .selectBar {
    position: absolute !important;
  }
}

@keyframes rotate {
  // 0%   { transform: rotateY(0deg);}
  100% { transform: rotateY(180deg);}
}
